nav{
    width: 100%;

 
    font-size: var(--font-size-normal);

}
.container-div-menu{
    background-color: #fff;
    padding-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#container_content_navbar{
    
    height: 100%;
}

#container_primary_menu{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container_second_menu{
    width: 100%;
    min-height: 100%;


}

#container_date_select_input{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-bottom: 10px;

}

#container_value_all_center{
    width: 100%;

    font-size: 30px;

}

#content-value-all-center{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#container_cube_values{
    width: 100%;
    height: 80px;

}

#content_cube_values{
    width: 100%;
    height: 100%;




    display: flex;


    align-items: center;
    justify-content: space-around;
}



/*Components*/

.content-user{
    color: black;
    height: 27px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.bi-person-circle{
    margin-right:5px;
    margin-left: 5px;
}

.content-btn-reflash{
    width: 20px;
    height: 20px;
    padding: 12px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
}

.select-select-date{
    text-align: center;
}

.select-select-date select{
    width: 120px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    background-color: transparent;

    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* Standard syntax */
}



.content-arrow-select{
    font-size: 15px;
}


.content-arrow-left{
    margin-right: 10px;
}


.content-arrow-right{
    margin-left: 10px;
}

.s-left{
    font-size: 20px;
    margin-left: 20px;
}

.v-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    margin-top: auto;

}

#info-valor{
    font-size: 15px;
    background-color: #ffffff71;
}

.e-right{
    font-size: 20px;
    margin-right: 20px;
}

.cube-generic{
    width: 120px;
    height: 65px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}
.cube-ico-s{
    height: 15px;
    width: 15px;
    background-color: rgb(185, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 3px;


}

.cube-value{
    width: 100%;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.cube-comp-months{
    position: absolute;
    top: 75%;
    left: 78%;
    font-size: 10px;

    color: rgb(20, 214, 20);
}